@page "/register"
@using ECommerce.Client.ViewModels
@inject NavigationManager navigationManager

<div class="login-container">
    <header class="login-header">
        <h1 class="login-header-title">Register</h1>
    </header>
    <form
        class="login-form"
        method="post"
        @onsubmit="SubmitRegisterUser">
        <InputText
            class="login-form-input"
            placeholder="E-Mail"
            @bind-Value="Model.Email"/>
        <InputText
            class="login-form-input"
            placeholder="Username"
            @bind-Value="Model.Username"/>
        <InputText
            class="login-form-input"
            placeholder="Password"
            type="password"
            @bind-Value="Model.Password"/>
        <InputText
            class="login-form-input"
            placeholder="Re-type Password"
            type="password"
            @bind-Value="Model.PasswordCheck"/>
        <label class="text-danger">@error</label>
        <button class="login-form-button">Register</button>
    </form>
    <span @onclick="RedirectToLoginPage" class="redirect-to-create-account">Already have an account? <br> Click here to login</span>
</div>

@* To be deleted *@
<span>Email is: @Model.Email</span>
<span>Username is: @Model.Username</span>
<span>Password is: @Model.Password</span>
<span>Password check is: @Model.PasswordCheck</span>

@code {
    string error { get; set; }
    [SupplyParameterFromForm] public RegisterViewModel Model { get; set; }

    protected override void OnInitialized() => Model = new();

    private void SubmitRegisterUser()
    {
        if (!Model.IsCompleted())
        {
            error = "Complete empty fields";
            return;
        }
        
        if (!Model.Password.Equals(Model.PasswordCheck))
        {
            error = "Passwords do not match";
            return;
        }

        if (!Model.IsValidEmail())
        {
            error = "Type a correct e-mail";
            return;
        }

        error = "";
        try
        {
            // Implement User Register here
        }
        catch (Exception e)
        {
            error = e.Message;
        }
    }

    private void RedirectToLoginPage() => navigationManager.NavigateTo("/login");
}